.header {
  height: rem(56px);
  padding-left: rem(20px);
  padding-right: rem(20px);
  background-color: color-mix(in oklab, var(--mantine-color-body), transparent 10%);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: sticky;
  top: 0;
  z-index: 1000;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1400px);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.link {
  display: block;
  line-height: 1;
  height: 100%;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
