.chatPlayerContainer {
  height: 100%;
  overflow-y: scroll;
  padding-left: 2px;
  padding-right: 2px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
