name: Delete Untagged Packages
on:
  schedule:
    - cron: "30 1 * * 0"
  workflow_dispatch:
jobs:
  delete-untagged:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
